<div class="container base-font" style="padding-top: 1em;">
  <div class="row">

    <!-- <div class="col" style="padding: 1em;">
      <h5 style="color: white; font-weight: bold;">Data Structure</h5>
      <div class="d-flex justify-content-center flex-column">
        <div class="p-2" *ngFor="let ds of dsNames">
          <a routerLink="/content-viewer" style="  text-decoration: none; color: black">
            <div class="card card-customization shadow-sm">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">{{ds.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ds.description}}</h6>
              </div>
            </div>

          </a>

        </div>
      </div>

    </div>

  </div> -->

  <div class="row">
   
    <div class="col" style="padding: 1em;">
      <h5 style="color: white; font-weight: bold;">Java Collections</h5>
      <div class="d-flex justify-content-center flex-column">
        <div class="p-2">
          <div class="info-bar">Note: The following collections tutorials are curated to go over only the basic operations that are 
            can be used to solve coding interview problems. Bascialy the most of the tutorials focused on add, remove, find, and iteration operations.
            Goal is to brush up the basics of collections in short time.
          </div>
        </div>
        <div class="p-2" *ngFor="let item of javaCollectionList">
          <a routerLink="/content-viewer/{{item.title}}" style="text-decoration: none; color: black">
            <div class="card card-customization shadow-sm" style="border-left-color: #45ADA8;">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">{{item.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.description}}</h6>
              </div>
            </div>

          </a>

        </div>
      </div>

    </div>

  </div>


</div>