


.card{
    transition: transform .2s; /* Animation */
    &:hover {
        background-color: #F1F9E3;
        transform: scale(1.09); 
        border-left-color: #f8d591;
    }
    background-color: #FAF4E1;
}
