<div class="container base-font" style="padding-top: 1em;">
  
    <div class="row">
  
      <div class="col" style="padding: 1em;">
  
        <div class="d-flex justify-content-center flex-column">
          <div class="p-2">
  
              <div class="card shadow-sm card-left-border">
                <div class="card-body">
                     <h5 class="card-title" style="font-weight: bold;">Array</h5> 
                     <h6 class="card-subtitle mb-2 text-muted">Data Structure</h6>
                    <hr>
                    <div class="card-text">

                      

                    </div>

                </div>
              </div>
  
  
          </div>
        </div>
  
      </div>
  
    </div>
  
  
  </div>