@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

h1 {
    font-family: 'DM Sans', sans-serif;
    color: #42526e;
}

footer{
    background-image: linear-gradient(to right,#594F4F, #547980, #594F4F)
}

