<div class="container" style="padding: 1em;">

  <div class="row">
    <div class="col">
      <p class="base-font">Welcome to algoSchool, learn data structures and algorithms for free!</p>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="col">


      <div class="card base-font">
        <div class="card-header">
          Data Structure
        </div>
        <div class="card-body">


          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">String</a>
            <a href="#" class="list-group-item list-group-item-action">Array</a>
            <a href="#" class="list-group-item list-group-item-action">LinkedList</a>
            <a href="#" class="list-group-item list-group-item-action">Tree</a>
            <a href="#" class="list-group-item list-group-item-action">Stack</a>
            <a href="#" class="list-group-item list-group-item-action">Queue</a>
          </div>


        </div>
      </div>

    </div>

  </div>

</div>