<div class="container base-font" style="padding-top: 1em;">
  
    <div class="row">
  
      <div class="col" style="padding: 1em;">
  
        <div class="d-flex justify-content-center flex-column">
          <div class="p-2">
  
              <div class="card shadow-sm card-left-border">
                <div class="card-body">
                     <h5 class="card-title" style="font-weight: bold;">Array</h5> 
                     <h6 class="card-subtitle mb-2 text-muted">Data Structure</h6>
                    <hr>
                    <div class="card-text" style="padding: 1em;">

                      
                      <div style="font-weight: bolder;">What is Array?
                        <div>
                          <p style="font-weight: lighter;">An Array is a group of elments that are identified by an index. First index of the array will be 0, and 
                            the last index will be n-1 (n : number of elements). In memory the elements are stored next to each other.
                          </p>
                        </div>
                      </div>

                      <div style="font-weight: bolder;">Conceptual illusration of Array
                        <div>
                          <img class="img-fluid" src="../../assets/images/array_drawing.PNG">
                        </div>
                      </div>

                      <div style="font-weight: bolder;">Advantages of Array
                            <ul style="font-weight: lighter; ">
                              <li>Easy retrieval of an element, it will take only O(1) time.</li>
                              <li>2D Array repersents matrices.</li>
                              <li>Easy to apply or implement sorting algorithms to sort the array.</li>
                              <li>It's convenient to repersent many data strucutures such as Trees, and Hash Map.</li>
                            </ul>
                      </div>

                      <div style="font-weight: bolder;">Disadvantages of Array
                        <ul style="font-weight: lighter; ">
                          <li>The size of an array is fixed.</li>
                          <li>To extend the array, you have to create a new array with greater size, and then copy the elments from old array to the new one</li>
                          <li>If the index of an element is unknown, then linear iteration has to be performed to check for an element.</li>
                        </ul>
                      </div>
                      
                      <div style="font-weight: bolder;;">Array in Java.
                          <div style="font-weight: lighter;">
                            <p>To delcare Array <span class="text-muted">[We will declaring Array of int]</span></p>
                            <code class="code-block">int items = new int[4];</code>

                            <br>
                            <p>To Add an element</p>
                            <code class="code-block">
                              items[0] = 13;
                              <br>
                              items[1] = 5;
                              <br>
                              items[2] = 45;
                              <br>
                              items[3] = 98;
                            </code>
                            <br>
                            <p>Invalid Index</p>
                            <code class="code-block">items[4] = 76;</code>
                            <br>
                            <p>An index 4 is invalid, even though we know that the array can have 4 elements, but the last index is always n - 1, in this case n = 4, then the last index we can have is 4 - 1 which is 3. Any thing greater than this index will results in <code>Index Out Of Range Exception</code>.</p>
                          </div>

                          <div style="font-weight: lighter;">
                            <p>To iterate elements in Array</p>
                            <code class="code-block">

                              for(int i = 0; i &lt; items.length; i++)  &lcub;
                                <br>
                                &nbsp;&nbsp; System.out.println(items[i]);
                                <br>
                                &rcub; 

                            </code>
                          </div>
                      </div>

                        

                    </div>

                </div>
              </div>
  
  
          </div>
        </div>
  
      </div>
  
    </div>
  
  
  </div>