.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.card-customization{
  background-color: #F1F9E3;
  border-left-color: #f8d591; 
}

.card-left-border{
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-left-color: #5F9EA0; 
  border-left-width: 1em;
}

p {
  letter-spacing: 0em;
}