<div class="container base-font" style="padding-top: 1em;" #pdfDiv>

  <div class="row">

    <div class="col" style="padding: 1em;">

      <div class="d-flex justify-content-center flex-column">
        <div class="p-2">

          <div class="card shadow-sm card-left-border">

            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">{{title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Java Collections Basics</h6>
              <hr>
              <div class="card-text" style="padding: 1em;">

                <div [innerHtml]="currentRenderData"> </div>
                <br>
                <hr>
                <div class="email-block">

                  Thank you for reading the tutorial, if you find any mistakes please report at <a href="mailto:dsabrushup@gmail.com">dsaBrushUp</a>.<br>

                </div>
              </div>
            </div>


          </div>
        </div>

      </div>

    </div>


  </div>