/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// $base-background-color: #445144;
$base-background-color1: #594F4F;
$base-background-color2: #547980;
$base-background-color3: #45ADA8;
$base-background-color4: #9DE0AD;
$base-background-color5: #E5FCC2 ;
$base-background-color6: #83AF9B;
.base-font{
    // font-family: 'Quicksand', sans-serif;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Hubballi', cursive;
    font-size: 1.2em;
    // letter-spacing: 0.1em;
}



.high_lighted{
    @extend .base-font;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: whitesmoke;
    background-color: $base-background-color1;
    display: inline;
    font-size: .9em;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 0.2rem;
    padding-left: 1rem;
    font-weight: lighter;
    padding-right: 0.5rem;
    background-image: linear-gradient(to right, $base-background-color1 , $base-background-color2);
}

.card-customization {
    border-radius: 1em; 
    border-left-color: $base-background-color6; 
    border-left-width: 1em;
    border-top: 0em;
    border-right: 0em;
    border-bottom: 0em;
}

body{
    background-image: linear-gradient($base-background-color2, $base-background-color1);
    background-color: $base-background-color1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
// FFDD93
.code-block{
    background-color: #37464d;
    padding: 1.5em;
    border-radius: 1em;
    color: #e1e1e1;
    display: block;
    font-family: 'Source Code Pro', monospace;
}

.info-bar{
    background-color: #FADA5E;
    padding: 1.5em;
    border-radius: 1em;
    color: black;
    display: block;
    border-left-color: $base-background-color3; 
    border-left-width: 1em;
    font-size: 0.9em;
    a{
        text-decoration: none;
        color: black;
    }
}

.note-comment-block{
    @extend .info-bar;
    background-color:  #D6E3B5;
    padding: 1.0em;
    font-size: 0.9em;
}

.time-complexity{
    @extend .note-comment-block;
    background-color:  #FFDD93;
}
 
.email-block{
    background-color: #25252a;
    color: #e1e1e1;
    padding: 1.5em;
    border-radius: 1em;
    a{
        text-decoration: none;
        color: #e1e1e1;
        font-weight: bold;
    }
}

html {
    scroll-behavior: smooth;
}

.title-text{
    background-color: whitesmoke;
    padding: 1.0em;
    border-radius: 1em;
    color: black;
    font-weight: bold;
    border-left-width: 1em;
    font-size: 0.9em;
    width: fit-content;
}
