/* You can add global styles to this file, and also import other style files */
.high_lighted{
    font-family: 'DM Sans', sans-serif;
    color: whitesmoke;
    background-color: #234142;
    display: inline;
    font-size: .9em;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 0.2rem;
    padding-left: 1rem;
    font-weight: lighter;
    padding-right: 0.5rem;
}
